@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.content{
    width: 100%;
    height: 140px;
    background-color: white;
    margin:10px 0px 20px 0px;
    padding: 10px 10px 10px 20px;
    box-sizing: border-box;
    line-height: 13px;
    border-top-left-radius: 30px;
    position: relative;
}
.delete{
    position: absolute;
    left:94%;
    top: 10px;
    border-radius: 50px;
    font-size: 16px;
    border: none;
    transition: 0.1s;
}
.delete:hover{
    transform: scale(1.1);
    border: 2px solid #15A31F;
}
.name{
    color:#15A31F;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.content span{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

}
