@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.container{
    background-color: #d3d3d3;
    min-height: 400px;
    /* border: 2px solid black; */
    margin: 0;
    padding: 30px 50px 30px 100px;
    display: flex;
    justify-content: space-between;
}
.box1{
    flex-basis: 850px;
    margin-left: 20px;
    /* border: 1px solid black; */

}
.box2{
    /* border: 1px solid red; */
    width: 400px;
    margin-left: 40px;
    padding-left: 30px;
}
.box2 .add{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.box2 label{
    font-family: 'Roboto', sans-serif;
}

.box2 input{
    margin-bottom: 10px;
    border: none;
    width: 65%;
    height: 25px;
    padding-left: 5px;
}
.box2 button:hover{
    transform: scale(1.05);
    border: 2px solid black;
}
.box2 button{
    margin-top: 15px;
    background-color: #15A31F;
    color: white;
    border: none;
    width: 110px;
    height: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}

.box2 select {
    width: 100px;
    margin-left: 10px;
}
.box2 .error{
    color: red;
    font-weight: bold;
    font-size: 13px;
}
.sort{
    margin-right: 10px;
}
.sort p{
    text-decoration: underline;
    margin-bottom: 7px;
    font-weight: bold;
}
.sort button{
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease;
}
.sort button:hover{
    transform: scale(1.2);
    border: 1px solid #15A31F ;
}